@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

@import "tailwindcss";

/* You can keep other global non-Tailwind styles or CSS variables here if needed */

@theme {
    --color-blue: oklch(0.77 0.1173 260.05);
    --color-eggplant-darkest: oklch(0.23 0.0179 338.75);
    --color-eggplant-dark: oklch(0.28 0.0057 337.67);
    --color-eggplant-darkish: oklch(0.35 0.0101 319.45);

    --color-harmaa-tumma: #858486;
    --color-harmaa: #D2D1D8;
    --color-harmaa-vaalea: #D9D9DD;
    --color-vaalea: #e0e0e2;
    --color-vaaleampi: #ececf0;
    --color-ametysti: #9c8bb6;
    --color-ruoste: #c27a4a;
    --color-taivas: #CACAE3;
    --color-ruoste-vaalea: #E1BA9C;
    --color-ruoste-vaalein: #EDE3DD;
    --color-tummanharmaa: #5a5a5c;

    --font-sans: "Sen", sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "Space Mono", monospace;
  
  }


.jfdisuaoioas {
    --color-harmaa: #ececf0;
    --color-vaalea: #d2d1d8;
    --color-purppura: #9c8bb6;
    --color-ruoste: #c27a4a;
}